<h2 data-i18n="commande.detailscommande.titre"><?= $title ?> 
    <?php
    if (isset($commande)) :
    ?>
    n° <?= $commande->getField('id_commande') ?></h2>
    <p class="alert alert-info">
        <span data-i18n="commande.detailscommande.alert.1">Commande passée le</span> : <?= date('d/m/Y à H:i:s',strtotime($commande->getField('date_enregistrement'))) ?><br>
        <span data-i18n="commande.detailscommande.alert.2">Pour un montant total de</span> : <?= $commande->getField('montant') ?> €<br>
        <span data-i18n="commande.detailscommande.alert.3">Etat</span> : <?= $commande->getField('etat') ?>
    </p>

<!-- je m'attends à recevoir $details_commande -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th data-i18n="produit.adminProduit.reference">Référence</th>
                    <th data-i18n="produit.adminProduit.description">Description</th>
                    <th data-i18n="produit.panier.quantite">Quantité</th>
                    <th data-i18n="produit.panier.prixUnite">Prix Unitaire</th>
                    <th data-i18n="produit.panier.prixTotal">Prix Total</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $somme_totale = 0;
                $nb_articles=0;
                for($i=0; $i<sizeof($details_commande);$i++) :
                    $somme_inter = $details_commande[$i]['quantite'] * $details_commande[$i]['prix'];
                    $somme_totale += $somme_inter;
                    $nb_articles += $details_commande[$i]['quantite'];
                ?>
                <tr>
                    <td><?= $details_commande[$i]['id_produit'] ?></td>
                    <td><a href="<?= $url ?>produit/affiche/<?= $details_commande[$i]['id_produit'] ?>"><?=$details_commande[$i]['titre'] ?></a></td>
                    <td><?= $details_commande[$i]['quantite'] ?></td>
                    <td>
                        <?= $details_commande[$i]['prix'] ?> €
                    </td>
                    <td> <?= $somme_inter ?> €</td>
                </tr>
                <?php endfor; ?> 
            </tbody>
            <tfoot>
                    <tr>
                            <td colspan="4" class="text-right">
                                 <span data-i18n="produit.panier.mentionPrix1">Montant total pour</span>  
                                 <?= $nb ?> 
                                 <span data-i18n="produit.panier.mentionPrix2">article(s)</span></td>
                            <td>
                                <?= $somme_totale ?> € HT
                            </td>
                        </tr>
                <tr>
                        <td colspan="4" class="text-right" data-i18n="produit.panier.montantTVA">Montant de la TVA</td>
                        <td>
                                + <?= $TVA*$somme_totale ?> € 
                            </td>
                    </tr>
                    <?php $promotion=0;
                    if($commande->getField('promotion')!='Aucune--0'):
                    $promotion=explode('--',$commande->getField('promotion'))[1]; ?>
                    <tr>
                            <td colspan="4" class="text-right" data-i18n="commande.detailscommande.coupon">Coupon promotion</td>
                            <td>
                                   - <?= $promotion ?> € 
                                </td>
                        </tr>
                        <?php endif; ?>
                    <tr>
                            <td colspan="4" class="text-right"  data-i18n="produit.panier.avecTVA">Prix TVA comprise</td>
                            <td>
                                    <?= (1+$TVA)*$somme_totale-$promotion ?> € TTC
                                </td>
                        </tr>
            </tfoot>

        </table>
    </div>
    <?php endif; ?>
    <a href="<?= $url ?>commande/afficheCommande" class="btn btn-success" data-i18n="commande.detailscommande.retour">Revenir à l'historique des commandes</a>
    <!-- <a href="<?= $url ?>commande/convertirPdf/<?= $commande->getField('id_commande') ?>" class="btn btn-success" data-i18n="commande.detailscommande.convertir">Télécharger la facture en format pdf</a>
 -->