<h2 data-i18n="commande.meilleursventes.titre"><?= $title ?></h2>
<?php if (!$meilleurs_ventes) : ?>
    <div class="alert alert-info" >Zéro ventes! </div>
<?php else: ?>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th data-i18n="commande.meilleursventes.rang">Rang</th>
                  <th data-i18n="produit.adminProduit.photo">Couverture</th>
                  <th data-i18n="produit.adminProduit.titre">Titre</th>
                  <th data-i18n="produit.adminProduit.auteur">Auteur</th>
                  <th data-i18n="commande.meilleursventes.nbVente">Nombre de ventes</th>
                </tr>
            </thead>
            <tbody>
                <?php $i=0;
                foreach($meilleurs_ventes as $vente) :
                if ($vente['produit'] && $i<=9):
                $value = '  <a href="'. $url .'produit/affiche/'. $vente['produit']->getField('id_produit').'"><img alt="photo" src="'. $url .'photo/products/'.($vente['produit']->getField('photo')).'" class="thumbnail img-fluid"></a>';
                  $i++;
                        ?>
                    <tr>
                        <td class='desc-produit'><?= $i ?></td>
                        <td class='desc-produit'><?= $value ?></td>
                        <td><a href="<?= $url ?>produit/affiche/<?= $vente['produit']->getField('id_produit') ?>"><?= $vente['produit']->getField('titre') ?></a></td>
                        <td class='desc-produit'><?= $vente['produit']->getField('auteur') ?></td>
                        <td class='desc-produit'><?= $vente['nb_ventes'] ?></td>
                    </tr>
                <?php 
                endif;
                endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php endif; ?>
