<h2 data-i18n="layout.admin.produit"><?= $title ?></h2>
<?php

if ($_SESSION['membre'] && $_SESSION['membre']->isAdmin()):

?>
    <a href="<?= $url ?>produit/ajoutProduit" class="btn btn-success" data-i18n="produit.addProduct.page">Ajouter un produit</a>
    <?php if ($produits!=false) : ?>
    <div class="table-responsive">
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th><a href="<?= $url ?>produit/adminProduit/id_produit/<?= $desc ?>" data-i18n="produit.adminProduit.id">ID</a></th>
                  <th><a href="<?= $url ?>produit/adminProduit/reference/<?= $desc ?>" data-i18n="produit.adminProduit.reference">Ref.</a></th>
                  <th><a href="<?= $url ?>produit/adminProduit/categorie/<?= $desc ?>" data-i18n="produit.adminProduit.categorie">Categ</a></th>
                    <th data-i18n="produit.adminProduit.titre">Titre</th>
                    <th data-i18n="produit.adminProduit.description">Description</th>
                    <th><a href="<?= $url ?>produit/adminProduit/auteur/<?= $desc ?>" data-i18n="produit.adminProduit.auteur">Auteur</a></th>
                    <th><a href="<?= $url ?>produit/adminProduit/date_parution/<?= $desc ?>" data-i18n="produit.adminProduit.dateParution">Date parution</a></th>
                    <<th><a href="<?= $url ?>produit/adminProduit/traducteur/<?= $desc ?>" data-i18n="produit.adminProduit.traducteur">Traducteur</a></th>
                    <th><a href="<?= $url ?>produit/adminProduit/date_traduction/<?= $desc ?>" data-i18n="produit.adminProduit.dateTraduction">Date traduction</a></th>
                    <th><a href="<?= $url ?>produit/adminProduit/editeur/<?= $desc ?>" data-i18n="produit.adminProduit.editeur">Editeur</a></th>
                    <th><a href="<?= $url ?>produit/adminProduit/collection/<?= $desc ?>" data-i18n="produit.adminProduit.collection">Collection</a></th>
                    <th data-i18n="produit.adminProduit.photo">Photo</th> 
                    <th><a href="<?= $url ?>produit/adminProduit/prix/<?= $desc ?>" data-i18n="produit.adminProduit.prix">Prix</a></th>            
                    <th><a href="<?= $url ?>produit/adminProduit/stock/<?= $desc ?>" data-i18n="produit.adminProduit.stock">Stock</a></th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php 
                foreach($produits as $produit) :
                        $champs = $produit->getFields();
                        ?>
                    <tr>
                        <?php
                        foreach($champs as $index => $value):
                            if ($index == 'photo') :
                                $value = '  <a href="'. $url .'produit/affiche/'. $produit->getField('id_produit').'"><img src="'. $url .'photo/products/'. ($produit->getField('photo')) .'" class="thumbnail img-fluid"></a>';
                            endif;
                            if ($index == 'description' && strlen($value)>75) : ?>
                            <td class='desc-produit'><?= substr($value,0,75).' ...' ?></td>
                            <?php  elseif($index == 'date_traduction' && $value==0): ?>
                            <td class='desc-produit'></td>
                            <?php else: ?>
                          <td class='desc-produit'><?= $value ?></td>
                          <?php endif;
                            endforeach;
                        ?>
                        <td><a href="<?= $url ?>produit/editProduit/<?= $produit->getField('id_produit') ?>"><i class="fa fa-edit"></i></a></td>
                        <td><a href="<?= $url ?>produit/suppProduit/<?= $produit->getField('id_produit') ?>" onclick="return(confirm('Etes vous sûr de vouloir supprimer ce produit ?'))"><i class="fa fa-trash"></i></a></td>
                    </tr>
                <?php endforeach;
                ?>
            </tbody>
        </table>
    </div>


<?php
endif;
endif;
