<div class="row">

    <div class="jumbotron flamme col-12 ">
            <h1 class="mb-5"  data-i18n="produit.boutique.titre">Bienvenue dans le temple du savoir</h1>
            <h2 class="mb-3"  data-i18n="produit.boutique.soustitre">Des prix défiant toute concurrence!</h2>
        </div>
        <div class="col-sm-3 navbar-expand-md btn-success ">
                <p class="list-group-item text-center navbar-brand brown" data-i18n="produit.boutique.categories">CATEGORIES
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseBis" aria-controls="navbarCollapseBis" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                              </button></p>
                              <div class="collapse navbar-collapse" id="navbarCollapseBis">
                                    <ul class="navbar-nav mr-auto row">
                                            <li class="col-12">
                <a href="<?= $url ?>produit/all" class="list-group-item <?= (!isset($selected)) ? 'active' : '' ?>"  data-i18n="produit.boutique.categories.toutes">Toutes</a></li>
                <?php foreach($categories as $cat) : ?>
                <li class="col-12">
                    <a class="list-group-item <?= (isset($selected) && $selected == $cat['categorie']) ? 'active' : '' ?>" href="<?= $url ?>produit/afficheCategorie/<?= $cat['categorie'] ?>"  data-i18n="produit.boutique.categories.<?= $cat['categorie']?>">
                        <?= ucfirst($cat['categorie']) ?></a></li>
                <?php endforeach; ?>
                    </ul>
                    </div>
        </div>
    <div class="col-sm-9">  
        <div class='col-12 row'> <a class="btn btn-success col-md-4 col-6 offset-md-4 offset-3"  href="<?= $url ?>commande/afficheMeilleursVentes"  data-i18n="produit.boutique.meilleursventes">Nos meilleures ventes</a></div>
        <div class="promotions mt-3"><p>Jusqu'au 1er décembre, BLACKFRIDAY vous offre</p>
            <p>20 euros de promotion sur 50 euros d'achat</p></div>
        <div class="row">

            <?php foreach($produits as $produit) : ?>
            <div class="col-12 col-md-4">
                <div class="card mt-3 border alert-light">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3 title="<?= $produit->getField('titre')?>"><?= $produit->getSmallTitle() ?></h3>
                        </div>
                        <p>
                            <a href="<?= $url ?>produit/affiche/<?= $produit->getField('id_produit') ?>">
                                <img src="<?= $url ?>photo/products/<?= $produit->getField('photo') ?>" alt="<?= $produit->getField('titre')?>" class="card-img img-fluid">
                            </a>
                        </p>
                        <p class="text-center"><?= number_format($produit->getField('prix')*(1+$TVA),2) ?> €
                        </p>
                        <p class="text-center">
                            <a class="btn btn-success" href="<?= $url ?>produit/affiche/<?= $produit->getField('id_produit') ?>" data-i18n="produit.boutique.details">Voir les détails &raquo; </a>
                        </p>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>

        </div>

    </div>

</div>
