<div class="row">

    <div class="col-sm-3">
        <div class="list-group">
            <p class="list-group-item text-center" data-i18n="produit.boutique.categories">CATEGORIES</p>
            <a href="<?= $url ?>produit/all" class="list-group-item <?= (!isset($selected)) ? 'active' : '' ?>"  data-i18n="produit.boutique.categories.toutes">Toutes</a>
            <?php foreach($categories as $cat) : ?>
                <a class="list-group-item <?= (isset($selected) && $selected == $cat['categorie']) ? 'active' : '' ?>" href="<?= $url ?>produit/afficheCategorie/<?= $cat['categorie'] ?>"  data-i18n="produit.boutique.categories.<?= $cat['categorie']?>">
                    <?= ucfirst($cat['categorie']) ?></a>
            <?php endforeach; ?>

        </div>

    </div>
    <div class="col-sm-9">
        <div class="jumbotron flamme">
            <h1 class="mb-5"  data-i18n="produit.boutique.titre">Bienvenue dans le temple du savoir</h1>
            <h2 class="mb-3"  data-i18n="produit.boutique.soustitre">Des prix défiant toute concurrence!</h2>
        </div>
        <div class='col-12 row'> <a class="btn btn-success col-4 offset-4"  href="<?= $url ?>commande/afficheMeilleursVentes"  data-i18n="produit.boutique.meilleursventes">Nos meilleures ventes</a></div>
        
        <div class="row">

            <?php foreach($produits as $produit) : ?>
            <div class="col-6 col-md-4">
                <div class="card mt-3 border alert-light">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3 title="<?= $produit->getField('titre')?>"><?= $produit->getSmallTitle() ?></h3>
                        </div>
                        <p>
                            <a href="<?= $url ?>produit/affiche/<?= $produit->getField('id_produit') ?>">
                                <img src="<?= $url ?>photo/products/<?= $produit->getField('photo') ?>" alt="<?= $produit->getField('titre')?>" class="card-img img-fluid">
                            </a>
                        </p>
                        <p class="text-center"><?= number_format($produit->getField('prix')*(1+$TVA),2) ?> €
                        </p>
                        <p class="text-center">
                            <a class="btn btn-success" href="<?= $url ?>produit/affiche/<?= $produit->getField('id_produit') ?>" data-i18n="produit.boutique.details">Voir les détails &raquo; </a>
                        </p>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>

        </div>

    </div>

</div>
