body{
  margin-top:80px;
}
.main-container{
  min-height:calc(100vh - 136px);
}
.bg-dark{
  color : lightgrey;
}
.active, .btn-success, .btn-success a, .dropdown-menu {
background-color:rgb(101,64,46)!important;
color:white;
}
.btn-success{
border : rgb(101,64,46);}
a{
color:rgb(101,64,46);
}
a .active{
color:white;
}

a:hover, .btn-success:hover, a .active:hover, .dropdown-item a:hover{
  color:rgb(51,148,65);
  }

  h1,h2,h3,h4{
    color:rgb(101,64,46);  
  }
  .flamme h1,.flamme h2,.flamme h3,.flamme h4{
    color:white;  
  }

.flamme,#meilleursventes, .btn-success p {
  font-weight: bold;
  color:white!important;
  text-shadow: rgb(101,64,46) 0.2em 0.2em 0.4em;
  width: 100%;
}
.jumbotron{
  background-image: url('../photo/banniere.jpg')!important;
}

.card-img{
max-height:250px;
}
.dropdown-item{
  border-bottom:rgb(51,148,65) solid 1px;
}
.thumbnail{
  max-height:68px;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color:rgba(101,64,46,0.5);
}

.navbar-flag {
  width: 40px;
  margin-right:5px;
  cursor: pointer;
}