<h2><?= $title ?></h2>
<p> Depuis 1907, Decitre a développé un réseau de 11 librairies en Rhône-Alpes et récemment en région parisienne.
 Ses libraires sont reconnues pour leur expertise et leur passion des livres, dans les domaines de la connaissance comme du loisir.
  En lançant decitre.fr en 1997, Decitre a acquis une solide expérience du e-commerce.</p>

<p>Permettre à chaque lecteur de trouver ses livres et à chaque livre de trouver ses lecteurs est l'objectif quotidien de chacun de ses 400 collaborateurs.</p>

<h3>Des équipes de libraires pour vous conseiller</h3>
<p>Dans nos librairies situées en Rhône-Alpes, ce sont plus de 180 libraires et papetiers qui vous conseillent et partagent au quotidien leurs coups de coeur.</p>

<p>Sur decitre.fr, une équipe de 4 personnes se charge d'animer le site en fonction des actualités du moment et à vous proposer des sélections approuvées par nos libraires
 et papetiers ! Vous pouvez aussi découvrir en un clic leurs derniers coups de coeur, pour trouver le livre qu'il vous faut ou celui qui fera plaisir.</p>

<h3>Conseils libraires</h3>
<p>Un service client de qualité</p>
<p>Nos assistants commerciaux et opérateurs de saisie s’assurent de la satisfaction client et apportent des réponses et des solutions concrètes aux problèmes rencontrés
 (suivi des commandes, délai de livraison). Nous offrons la possibilité à nos clients de recevoir en ligne nos conseils de libraires, adaptés à leurs besoins et à
  leurs envies notamment grâce à l’envoi de nos newletters.</p>

  <p>Tel : 01 76 49 48 00 / E-mail.</p>

<h3>Service clients</h3>
<p>Une équipe logistique performante</p>
<p>Premier et dernier maillon de la chaîne, nos équipes logistiques sont au cœur de la satisfaction de nos clients.</p>

<p>L’envie de travailler en équipe unit ses collaborateurs aux parcours et formations de tout horizon. 
Chaque jour, nos équipes logistiques font preuve de rigueur et d’organisation pour garantir le meilleur traitement possible des flux de produits
 livres et papeterie ainsi que l’optimisation du stockage, du transport et de la distribution aux clients magasin et professionnels.</p>