<div>
                <div class="card-title text-center">
                    <h2><?= $produit->getField('titre') ?></h2>
                    <a href="<?= $url ?>produit/affiche/<?= $produit->getField('id_produit') ?>">
                <img src="<?= $url ?>photo/products/<?= $produit->getField('photo') ?>" alt="" class="card-img img-fluid">
            </a>
                    <h3 data-i18n="note.notes.avis">Avis clients</h3>
                </div>
                <?php foreach ($notes as $note): ?>
                <div class="card border">
                    <div class="card-body">
                        <div class="card-title text-center">
                    <p class="text-center"> <?= $note->membre->getField('pseudo') ?></p>
                    <p class="text-center">le  <?= $note->getField('date') ?></p>
                    <p class="text-center">Note :  <?= $note->getField('note') ?> /10</p>
                  </div>
                 <h2><span data-i18n="note.notes.titre">Titre</span> : <?= $note->getField('titre') ?></h2>
                <p> <span data-i18n="note.notes.contenu">Contenu</span> : <?= $note->getField('description') ?></p>
              </div> 
                </div>
<?php endforeach; ?>
                <div>
                  <h3 data-i18n="note.notes.commenter">Donnez votre avis</h3>
                  <?php if(isset($_SESSION['membre'])) : ?>
                  <form method="post" action="" enctype="multipart/form-data">


                      <div class="form-group">
                          <div class="row">
                              <input type="hidden" name="id_produit" value="<?= $produit->getField('id_produit') ?>" class="form-control">
                              <input type="hidden" name="id_membre" value="<?= $_SESSION['membre']->getField('id_membre') ?>" class="form-control">
                                  <label for="note" data-i18n="note.notes.note">Note</label>
                                  <input type="number" name="note" id="note" value="<?= $note_actuelle['note'] ?? '' ?>" class="form-control">
                                  <label for="titre" data-i18n="note.notes.titre">Titre</label>
                                  <input type="text" name="titre" id="titre" value="<?= $note_actuelle['titre'] ?? '' ?>" class="form-control">
                                  <label for="description" data-i18n="note.notes.avis">Avis</label>
                                  <textarea name="description" id="description" class="form-control" rows="7"><?= $note_actuelle['description'] ?? '' ?></textarea>
                          </div>
                          <div class="row">
                              <div class="col-12 text-center">
                                  <input type="submit" class="btn btn-success"  data-i18n="[value]layout.bouton.valider" value="Laissez un avis">
                              </div>
                          </div>
                  </form>
                  <?php else: ?>
                    <p data-i18n="note.notes.warning">Vous devez vous connecter pour laisser un avis</p>
                    <li class="nav-item">
                      <a class="nav-link" href="<?= $url ?>membre/connexion" data-i18n="layout.connexion">Connexion</a>
                    </li>
                    <?php endif; ?>
                </div>
